Repository 0xsequence/sequence.js: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, syncpack

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

syncpack:
  run: pnpm deps:lint

Enforce relayer wallet as from address in recovery tests
  packages/wallet/wdk/test/recovery.test.ts
Due: prettier

Fall back to rich account for recovery test relayer from
  packages/wallet/wdk/test/recovery.test.ts
Due: prettier

Enforce gas fee on recovery test
  packages/wallet/wdk/test/recovery.test.ts
Due: prettier

Pin CI foundry to 1.5.0 release
  .github/workflows/tests.yml
Due: prettier

Pin CI foundry to v1.5.0 release
  .github/workflows/tests.yml
Due: prettier

Pin foundry to v1.5.0 instead of nightly
  .github/workflows/tests.yml
Due: prettier

Pin foundry to v1.5.0 instead of nightly (#947)
  .github/workflows/tests.yml
Due: prettier

Updating support deps
  package.json
  pnpm-lock.yaml
Due: syncpack

Include repo and extras in syncpack config to ensure deps are synced across all
  extras/docs/package.json
  extras/web/package.json
  package.json
  packages/wallet/primitives-cli/package.json
  pnpm-lock.yaml
  repo/eslint-config/package.json
  repo/ui/package.json
Due: prettier, syncpack

Updating pnpm lock
  pnpm-lock.yaml
  repo/eslint-config/package.json
Due: prettier

Updating deps
  extras/docs/package.json
  extras/web/package.json
  packages/services/api/package.json
  packages/services/builder/package.json
  packages/services/guard/package.json
  packages/services/identity-instrument/package.json
  packages/services/indexer/package.json
  packages/services/marketplace/package.json
  packages/services/metadata/package.json
  packages/services/relayer/package.json
  packages/services/userdata/package.json
  packages/utils/abi/package.json
  packages/wallet/core/package.json
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives-cli/package.json
  packages/wallet/primitives/package.json
  packages/wallet/wdk/package.json
  pnpm-lock.yaml
  repo/eslint-config/package.json
  repo/ui/package.json
Due: prettier, syncpack

Fixing type errors within wdk tests
  packages/wallet/wdk/src/sequence/manager.ts
  packages/wallet/wdk/test/authcode-pkce.test.ts
  packages/wallet/wdk/test/authcode.test.ts
  packages/wallet/wdk/test/constants.ts
  packages/wallet/wdk/test/guard.test.ts
  packages/wallet/wdk/test/identity-auth-dbs.test.ts
  packages/wallet/wdk/test/identity-signer.test.ts
  packages/wallet/wdk/test/messages.test.ts
  packages/wallet/wdk/test/otp.test.ts
  packages/wallet/wdk/test/passkeys.test.ts
  packages/wallet/wdk/test/recovery.test.ts
  packages/wallet/wdk/test/sessions.test.ts
  packages/wallet/wdk/test/setup.ts
  packages/wallet/wdk/test/transactions.test.ts
  packages/wallet/wdk/test/wallets.test.ts
Due: prettier

Include repo and extras in syncpack config to ensure deps are synced (#945)
  extras/docs/package.json
  extras/web/package.json
  package.json
  packages/services/api/package.json
  packages/services/builder/package.json
  packages/services/guard/package.json
  packages/services/identity-instrument/package.json
  packages/services/indexer/package.json
  packages/services/marketplace/package.json
  packages/services/metadata/package.json
  packages/services/relayer/package.json
  packages/services/userdata/package.json
  packages/utils/abi/package.json
  packages/wallet/core/package.json
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives-cli/package.json
  packages/wallet/primitives/package.json
  packages/wallet/wdk/package.json
  packages/wallet/wdk/src/sequence/manager.ts
  packages/wallet/wdk/test/authcode-pkce.test.ts
  packages/wallet/wdk/test/authcode.test.ts
  packages/wallet/wdk/test/constants.ts
  packages/wallet/wdk/test/guard.test.ts
  packages/wallet/wdk/test/identity-auth-dbs.test.ts
  packages/wallet/wdk/test/identity-signer.test.ts
  packages/wallet/wdk/test/messages.test.ts
  packages/wallet/wdk/test/otp.test.ts
  packages/wallet/wdk/test/passkeys.test.ts
  packages/wallet/wdk/test/recovery.test.ts
  packages/wallet/wdk/test/sessions.test.ts
  packages/wallet/wdk/test/setup.ts
  packages/wallet/wdk/test/transactions.test.ts
  packages/wallet/wdk/test/wallets.test.ts
  pnpm-lock.yaml
  repo/eslint-config/package.json
  repo/ui/package.json
Due: prettier, syncpack

[AUTOMATED] Update constants.ts
  packages/network/src/constants.ts
Due: prettier

skip witness on signers that don't support it
  packages/wallet/wdk/src/sequence/manager.ts
  packages/wallet/wdk/src/sequence/signers.ts
  packages/wallet/wdk/test/signers-kindof.test.ts
Due: prettier

add passkey to test
  packages/wallet/wdk/test/signers-kindof.test.ts
Due: prettier

Short circuit 404s (#949)
  packages/wallet/wdk/src/sequence/manager.ts
  packages/wallet/wdk/src/sequence/signers.ts
  packages/wallet/wdk/test/signers-kindof.test.ts
Due: prettier

3.0.0-beta.6
  .changeset/cyan-radios-relax.md
  .changeset/pre.json
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
Due: prettier, syncpack

Fix apple auth scope
  packages/wallet/wdk/src/sequence/handlers/authcode.ts
  packages/wallet/wdk/test/authcode.test.ts
Due: prettier

Fix Apple auth scope test
  packages/wallet/wdk/test/authcode.test.ts
Due: prettier

Fix apple auth scope (#950)
  packages/wallet/wdk/src/sequence/handlers/authcode.ts
  packages/wallet/wdk/test/authcode.test.ts
Due: prettier

3.0.0-beta.7
  .changeset/nice-tips-slide.md
  .changeset/pre.json
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
Due: prettier, syncpack

Update apple auth scope
  packages/wallet/wdk/src/sequence/handlers/authcode.ts
  packages/wallet/wdk/test/authcode.test.ts
Due: prettier

Update apple auth scope (#951)
  packages/wallet/wdk/src/sequence/handlers/authcode.ts
  packages/wallet/wdk/test/authcode.test.ts
Due: prettier

3.0.0-beta.8
  .changeset/new-turkeys-double.md
  .changeset/pre.json
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
Due: prettier, syncpack

dapp-client: export TransportMessage and MessageType
  packages/wallet/dapp-client/src/index.ts
Due: prettier

Adding eoa LoginMethod to dapp-client
  packages/wallet/dapp-client/src/types/index.ts
Due: prettier

3.0.0-beta.9
  .changeset/pre.json
  .changeset/tiny-files-chew.md
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
Due: prettier, syncpack

chore(dapp-client): re-export network/util helpers and add explicit session config helper
  packages/wallet/dapp-client/src/index.ts
  packages/wallet/dapp-client/src/utils/index.ts
Due: prettier

3.0.0-beta.10
  .changeset/crisp-zoos-retire.md
  .changeset/pre.json
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
Due: prettier, syncpack

[AUTOMATED] Update: proto/clients/relayer.gen.ts
  packages/relayer/src/rpc-relayer/relayer.gen.ts
Due: prettier

[AUTOMATED] Update: proto/clients/indexer*.gen.ts
  packages/indexer/src/indexer.gen.ts
  packages/indexer/src/indexergw.gen.ts
Due: prettier

[AUTOMATED] Update: proto/clients/indexer*.gen.ts
  packages/indexer/src/indexer.gen.ts
Due: prettier

Path conditions:
  prettier: any of: **/*.{js,jsx,ts,tsx,json,md,yml,yaml}
  syncpack: any of: package.json, packages/**/package.json
