Repository 0xsequence/sequence.js: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, syncpack

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

syncpack:
  run: pnpm deps:lint

Remove the syncpack format script.
  package.json
Due: syncpack

Updating Deps November 2025 (#927)
  extras/docs/package.json
  extras/web/package.json
  lefthook.yml
  package.json
  packages/services/api/package.json
  packages/services/builder/package.json
  packages/services/guard/package.json
  packages/services/identity-instrument/package.json
  packages/services/indexer/package.json
  packages/services/marketplace/package.json
  packages/services/metadata/package.json
  packages/services/relayer/package.json
  packages/utils/abi/package.json
  packages/wallet/core/package.json
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives-cli/package.json
  packages/wallet/primitives/package.json
  packages/wallet/wdk/package.json
  packages/wallet/wdk/test/sessions.test.ts
  pnpm-lock.yaml
  repo/ui/package.json
Due: prettier, syncpack

Upgrading ox to 9.17.0
  packages/services/guard/package.json
  packages/services/identity-instrument/package.json
  packages/services/relayer/package.json
  packages/wallet/core/package.json
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives-cli/package.json
  packages/wallet/primitives/package.json
  packages/wallet/wdk/package.json
  pnpm-lock.yaml
Due: prettier, syncpack

WrappedSignature renamed to SignatureErc6492
  packages/wallet/primitives/src/erc-6492.ts
  packages/wallet/primitives/test/erc-6492.test.ts
Due: prettier

Fixing PasskeySignatureValidator interface
  packages/wallet/core/src/state/sequence/index.ts
Due: prettier

Lock ox lib dep to use the same version with pnpm overrides and update viem to latest
  package.json
  packages/services/relayer/package.json
  packages/wallet/core/package.json
  pnpm-lock.yaml
Due: prettier, syncpack

Update ox to v9.17.0 (#928)
  package.json
  packages/services/guard/package.json
  packages/services/identity-instrument/package.json
  packages/services/relayer/package.json
  packages/wallet/core/package.json
  packages/wallet/core/src/state/sequence/index.ts
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives-cli/package.json
  packages/wallet/primitives/package.json
  packages/wallet/primitives/src/erc-6492.ts
  packages/wallet/primitives/test/erc-6492.test.ts
  packages/wallet/wdk/package.json
  pnpm-lock.yaml
Due: prettier, syncpack

Fix explicitSessionRequested check in dapp client
  packages/wallet/dapp-client/src/ChainSessionManager.ts
Due: prettier

Upgrading to typescript v5.9.3
  package.json
  packages/services/api/package.json
  packages/services/builder/package.json
  packages/services/guard/package.json
  packages/services/identity-instrument/package.json
  packages/services/indexer/package.json
  packages/services/marketplace/package.json
  packages/services/metadata/package.json
  packages/services/relayer/package.json
  packages/utils/abi/package.json
  packages/wallet/core/package.json
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives-cli/package.json
  packages/wallet/primitives/package.json
  packages/wallet/wdk/package.json
  pnpm-lock.yaml
Due: prettier, syncpack

Fix type errors that arose from typescript upgrade related to Bytes and Buffer source typings.
  packages/wallet/core/src/signers/pk/encrypted.ts
  packages/wallet/core/src/utils/session/permission-builder.ts
  packages/wallet/wdk/src/identity/signer.ts
Due: prettier

[AUTOMATED] Update: proto/clients/indexer*.gen.ts
  packages/indexer/src/indexer.gen.ts
  packages/indexer/src/indexergw.gen.ts
Due: prettier

[AUTOMATED] Update: proto/clients/indexer*.gen.ts
  packages/indexer/src/indexer.gen.ts
Due: prettier

Typescript 5.9.3 (#930)
  package.json
  packages/services/api/package.json
  packages/services/builder/package.json
  packages/services/guard/package.json
  packages/services/identity-instrument/package.json
  packages/services/indexer/package.json
  packages/services/marketplace/package.json
  packages/services/metadata/package.json
  packages/services/relayer/package.json
  packages/utils/abi/package.json
  packages/wallet/core/package.json
  packages/wallet/core/src/signers/pk/encrypted.ts
  packages/wallet/core/src/utils/session/permission-builder.ts
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives-cli/package.json
  packages/wallet/primitives/package.json
  packages/wallet/wdk/package.json
  packages/wallet/wdk/src/identity/signer.ts
  pnpm-lock.yaml
Due: prettier, syncpack

[AUTOMATED] Update: proto/clients/guard.gen.ts
  packages/guard/src/guard.gen.ts
Due: prettier

[AUTOMATED] Update: proto/clients/metadata.gen.ts (#758)
  packages/metadata/src/metadata.gen.ts
Due: prettier

Don't catch errors thrown by Guard 2FA or reject early to allow multiple attempts on incorrect TOTP
  packages/wallet/wdk/src/sequence/handlers/guard.ts
Due: prettier

Don't catch errors thrown by Guard 2FA or reject early to allow multiple attempts on incorrect TOTP (#931)
  packages/wallet/wdk/src/sequence/handlers/guard.ts
Due: prettier

Update pnpm
  .changeset/config.json
  .changeset/pre.json
  package.json
Due: prettier, syncpack

Mark @0xsequence/wallet-primitives-cli as private
  packages/wallet/primitives-cli/package.json
Due: prettier, syncpack

3.0.0-beta.3
  .changeset/open-toes-marry.md
  .changeset/pre.json
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
  repo/eslint-config/CHANGELOG.md
  repo/eslint-config/package.json
  repo/typescript-config/CHANGELOG.md
  repo/typescript-config/package.json
  repo/ui/CHANGELOG.md
  repo/ui/package.json
Due: prettier, syncpack

changeset cleanup
  .changeset/pre.json
Due: prettier

[AUTOMATED] Update: proto/clients/relayer.gen.ts
  packages/relayer/src/rpc-relayer/relayer.gen.ts
Due: prettier

Add rc5 and set it as default
  packages/wallet/core/src/state/local/index.ts
  packages/wallet/core/src/state/sequence/index.ts
  packages/wallet/core/test/session-manager.test.ts
  packages/wallet/dapp-client/src/ChainSessionManager.ts
  packages/wallet/primitives-cli/src/subcommands/address.ts
  packages/wallet/primitives/src/constants.ts
  packages/wallet/primitives/src/context.ts
  packages/wallet/primitives/src/extensions/index.ts
  packages/wallet/primitives/test/address.test.ts
  packages/wallet/wdk/src/sequence/manager.ts
  packages/wallet/wdk/test/sessions.test.ts
Due: prettier

Fix rc4 4337 factory
  packages/wallet/primitives/src/context.ts
Due: prettier

Update api.gen.ts
  packages/api/src/api.gen.ts
Due: prettier

Path conditions:
  prettier: any of: **/*.{js,jsx,ts,tsx,json,md,yml,yaml}
  syncpack: any of: package.json, packages/**/package.json
