Repository 0xsequence/sequence.js: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, syncpack

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: '**/*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: pnpm prettier --write {staged_files} && git add {staged_files}
    syncpack:
      glob:
        - "package.json"
        - "packages/**/package.json"
      run: pnpm deps:lint

pre-push:
  commands:
    build:
      run: pnpm build:packages
    test:
      run: pnpm test

Use Address.isEqual for address comparison in recovery module
  packages/wallet/wdk/src/sequence/recovery.ts
Due: prettier

Recovery.fetchQueuedPayloads can continue after encountering a node error
  packages/wallet/primitives/src/extensions/recovery.ts
  packages/wallet/wdk/src/sequence/recovery.ts
Due: prettier

chore: update company name references
  packages/services/api/package.json
  packages/services/builder/package.json
  packages/services/guard/package.json
  packages/services/indexer/package.json
  packages/services/marketplace/package.json
  packages/services/metadata/package.json
  packages/services/relayer/package.json
  packages/services/userdata/package.json
  packages/utils/abi/package.json
Due: prettier, syncpack

[AUTOMATED] Update constants.ts
  packages/network/src/constants.ts
Due: prettier

fix(relayer): wrap feeOptions calldata for simulation
  packages/services/relayer/src/relayer/rpc-relayer/index.ts
Due: prettier

Use multicall3 to aggregate queued payload checking across N signers
  packages/wallet/wdk/src/sequence/recovery.ts
Due: prettier

fix(relayer): request FeeOptions as wallet (match wallet-webapp-v3)
  packages/services/relayer/src/relayer/rpc-relayer/index.ts
Due: prettier

fix(relayer): restore AbiFunction import
  packages/services/relayer/src/relayer/rpc-relayer/index.ts
Due: prettier

[AUTOMATED] Update constants.ts (#965)
  packages/network/src/constants.ts
Due: prettier

chore: update company name references (#964)
  packages/services/api/package.json
  packages/services/builder/package.json
  packages/services/guard/package.json
  packages/services/indexer/package.json
  packages/services/marketplace/package.json
  packages/services/metadata/package.json
  packages/services/relayer/package.json
  packages/services/userdata/package.json
  packages/utils/abi/package.json
Due: prettier, syncpack

[AUTOMATED] Update files from 0xsequence/indexer (#897)
  packages/indexer/src/indexer.gen.ts
  packages/indexer/src/indexergw.gen.ts
Due: prettier

Add latest indexer gen files
  packages/indexer/src/indexer.gen.ts
  packages/indexer/src/indexergw.gen.ts
Due: prettier

Add latest indexer gen files (#968)
  packages/indexer/src/indexer.gen.ts
  packages/indexer/src/indexergw.gen.ts
Due: prettier

Enable Berachain, HyperEVM and Sonic
  packages/network/src/config.ts
Due: prettier

Add Berachain, Sonic, HyperEVM
  packages/wallet/primitives/src/network.ts
Due: prettier

fix(relayer): match wallet-webapp FeeOptions request shape (#966)
  packages/services/relayer/src/relayer/rpc-relayer/index.ts
Due: prettier

3.0.0-beta.17
  .changeset/chilly-hands-carry.md
  .changeset/pre.json
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
Due: prettier, syncpack

Adding contracts object to Network type to store per network contract configs for common contracts like ensUniversalResolver and multicall3
  packages/services/relayer/src/relayer/rpc-relayer/index.ts
  packages/wallet/primitives/src/network.ts
Due: prettier

Parallelzing fetched queued payloads and adding fallback for when multicall3 batching either fails or is not configured on the network
  packages/wallet/wdk/src/sequence/recovery.ts
Due: prettier

Add includeTestnets option to RecoverySettings, default: false so fetchingQueuedPayloads can skip testnets to reduce requests
  packages/wallet/wdk/src/sequence/manager.ts
  packages/wallet/wdk/src/sequence/recovery.ts
Due: prettier

Use multicall3 to aggregate queued payload checking across N signers (#967)
  packages/services/relayer/src/relayer/rpc-relayer/index.ts
  packages/wallet/primitives/src/network.ts
  packages/wallet/wdk/src/sequence/manager.ts
  packages/wallet/wdk/src/sequence/recovery.ts
Due: prettier

3.0.0-beta.18
  .changeset/four-beds-stare.md
  .changeset/pre.json
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
Due: prettier, syncpack

Move indexer clients to packages/services/indexer and remove old packages/indexer
  packages/indexer/src/indexer.gen.ts
  packages/indexer/src/indexergw.gen.ts
  packages/services/indexer/src/indexer.gen.ts
  packages/services/indexer/src/indexergw.gen.ts
Due: prettier

Disable noUncheckedIndexedAccess for indexer package
  packages/services/indexer/tsconfig.json
Due: prettier

Updating happy-dom, vitest, prettier, and syncpack dev dependencies
  package.json
  packages/services/guard/package.json
  packages/services/identity-instrument/package.json
  packages/services/relayer/package.json
  packages/wallet/core/package.json
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/package.json
  packages/wallet/wdk/package.json
  pnpm-lock.yaml
Due: prettier, syncpack

Updating turbo repo
  package.json
  pnpm-lock.yaml
  turbo.json
Due: syncpack

Updating lefthook
  package.json
  pnpm-lock.yaml
Due: syncpack

Updating rimraf
  package.json
  pnpm-lock.yaml
Due: syncpack

Updating @types/node
  extras/docs/package.json
  extras/web/package.json
  packages/services/api/package.json
  packages/services/builder/package.json
  packages/services/guard/package.json
  packages/services/identity-instrument/package.json
  packages/services/indexer/package.json
  packages/services/marketplace/package.json
  packages/services/metadata/package.json
  packages/services/relayer/package.json
  packages/services/userdata/package.json
  packages/utils/abi/package.json
  packages/wallet/core/package.json
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives-cli/package.json
  packages/wallet/wdk/package.json
  pnpm-lock.yaml
  repo/ui/package.json
Due: prettier, syncpack

Updating dotenv
  packages/wallet/core/package.json
  packages/wallet/dapp-client/package.json
  packages/wallet/wdk/package.json
  pnpm-lock.yaml
Due: prettier, syncpack

Updating nodemon and esbuild for primitives-cli
  packages/wallet/primitives-cli/package.json
  pnpm-lock.yaml
Due: prettier, syncpack

Feb 2026: Updating Dev Dependencies (#970)
  extras/docs/package.json
  extras/web/package.json
  package.json
  packages/services/api/package.json
  packages/services/builder/package.json
  packages/services/guard/package.json
  packages/services/identity-instrument/package.json
  packages/services/indexer/package.json
  packages/services/marketplace/package.json
  packages/services/metadata/package.json
  packages/services/relayer/package.json
  packages/services/userdata/package.json
  packages/utils/abi/package.json
  packages/wallet/core/package.json
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives-cli/package.json
  packages/wallet/primitives/package.json
  packages/wallet/wdk/package.json
  pnpm-lock.yaml
  repo/ui/package.json
  turbo.json
Due: prettier, syncpack

Ensure eslint is properly configured for all packages
  packages/services/api/eslint.config.js
  packages/services/api/package.json
  packages/services/builder/eslint.config.js
  packages/services/builder/package.json
  packages/services/guard/eslint.config.js
  packages/services/guard/package.json
  packages/services/identity-instrument/eslint.config.js
  packages/services/identity-instrument/package.json
  packages/services/indexer/eslint.config.js
  packages/services/indexer/package.json
  packages/services/marketplace/eslint.config.js
  packages/services/marketplace/package.json
  packages/services/metadata/eslint.config.js
  packages/services/metadata/package.json
  packages/services/relayer/eslint.config.js
  packages/services/relayer/package.json
  packages/services/userdata/eslint.config.js
  packages/services/userdata/package.json
  packages/utils/abi/eslint.config.js
  packages/utils/abi/package.json
  packages/wallet/core/eslint.config.js
  packages/wallet/core/package.json
  packages/wallet/dapp-client/eslint.config.js
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives-cli/eslint.config.js
  packages/wallet/primitives/eslint.config.js
  packages/wallet/primitives/package.json
  packages/wallet/wdk/eslint.config.js
  packages/wallet/wdk/package.json
  pnpm-lock.yaml
  repo/ui/eslint.config.js
Due: prettier, syncpack

Move indexer clients to packages/services/indexer and remove old packages/indexer (#969)
  packages/indexer/src/indexer.gen.ts
  packages/indexer/src/indexergw.gen.ts
  packages/services/indexer/src/indexer.gen.ts
  packages/services/indexer/src/indexergw.gen.ts
  packages/services/indexer/tsconfig.json
Due: prettier

Run typecheck and lint on pre commit hook and cli
  .github/workflows/tests.yml
  lefthook.yml
Due: prettier

Fixing linting errors in services
  packages/services/api/package.json
  packages/services/api/src/index.ts
  packages/services/builder/package.json
  packages/services/builder/src/index.ts
  packages/services/guard/src/local.ts
  packages/services/guard/src/sequence.ts
  packages/services/guard/test/sequence.test.ts
  packages/services/indexer/package.json
  packages/services/indexer/src/index.ts
  packages/services/marketplace/package.json
  packages/services/marketplace/src/index.ts
  packages/services/metadata/package.json
  packages/services/metadata/src/index.ts
  packages/services/userdata/package.json
  packages/services/userdata/src/index.ts
Due: prettier, syncpack

Show all lint errors, not just the first package to fail
  package.json
Due: syncpack

Fixing abi package module import extensions
  packages/utils/abi/package.json
  packages/utils/abi/src/index.ts
  packages/utils/abi/src/wallet/index.ts
Due: prettier, syncpack

Fixing metadata package module import extensions
  packages/services/metadata/src/index.ts
Due: prettier
