Repository 0xsequence/sequence.js: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, syncpack

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

syncpack:
  run: pnpm deps:lint

New userdata.gen.ts
  packages/services/userdata/src/userdata.gen.ts
Due: prettier

3.0.6
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
Due: prettier, syncpack

[AUTOMATED] Update constants.ts
  packages/network/src/constants.ts
Due: prettier

[AUTOMATED] Update constants.ts (#993)
  packages/network/src/constants.ts
Due: prettier

[AUTOMATED] Update: proto/clients/relayer.gen.ts
  packages/relayer/src/rpc-relayer/relayer.gen.ts
Due: prettier

[AUTOMATED] Update: proto/clients/relayer.gen.ts (#994)
  packages/relayer/src/rpc-relayer/relayer.gen.ts
Due: prettier

Upgrade uuid from v13 to v14
  packages/wallet/wdk/package.json
  pnpm-lock.yaml
Due: prettier, syncpack

Upgrade uuid from v13 to v14 (#996)
  packages/wallet/wdk/package.json
  pnpm-lock.yaml
Due: prettier, syncpack

Upgrading workspace root deps
  extras/docs/package.json
  extras/docs/tsconfig.json
  extras/web/package.json
  extras/web/tsconfig.json
  package.json
  packages/services/api/package.json
  packages/services/builder/package.json
  packages/services/guard/package.json
  packages/services/identity-instrument/package.json
  packages/services/indexer/package.json
  packages/services/marketplace/package.json
  packages/services/metadata/package.json
  packages/services/relayer/package.json
  packages/services/userdata/package.json
  packages/utils/abi/package.json
  packages/wallet/core/package.json
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives-cli/package.json
  packages/wallet/primitives-cli/tsconfig.json
  packages/wallet/primitives/package.json
  packages/wallet/wdk/package.json
  pnpm-lock.yaml
  repo/eslint-config/package.json
  repo/typescript-config/next-css-side-effect.d.ts
  repo/ui/package.json
Due: prettier, syncpack

Upgrading workspace root deps (#997)
  extras/docs/package.json
  extras/docs/tsconfig.json
  extras/web/package.json
  extras/web/tsconfig.json
  package.json
  packages/services/api/package.json
  packages/services/builder/package.json
  packages/services/guard/package.json
  packages/services/identity-instrument/package.json
  packages/services/indexer/package.json
  packages/services/marketplace/package.json
  packages/services/metadata/package.json
  packages/services/relayer/package.json
  packages/services/userdata/package.json
  packages/utils/abi/package.json
  packages/wallet/core/package.json
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives-cli/package.json
  packages/wallet/primitives-cli/tsconfig.json
  packages/wallet/primitives/package.json
  packages/wallet/wdk/package.json
  pnpm-lock.yaml
  repo/eslint-config/package.json
  repo/typescript-config/next-css-side-effect.d.ts
  repo/ui/package.json
Due: prettier, syncpack

3.0.7
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
Due: prettier, syncpack

Fix fee options for undeployed wallets
  packages/services/relayer/src/relayer/relayer.ts
  packages/services/relayer/src/relayer/rpc-relayer/index.ts
  packages/services/relayer/src/relayer/standard/sequence.ts
  packages/services/relayer/test/relayer/relayer.test.ts
  packages/wallet/core/src/wallet.ts
  packages/wallet/core/test/wallet-fee-options.test.ts
  packages/wallet/dapp-client/src/ChainSessionManager.ts
  packages/wallet/wdk/src/sequence/transactions.ts
Due: prettier

Fix fee options for undeployed wallets (#998)
  packages/services/relayer/src/relayer/relayer.ts
  packages/services/relayer/src/relayer/rpc-relayer/index.ts
  packages/services/relayer/src/relayer/standard/sequence.ts
  packages/services/relayer/test/relayer/relayer.test.ts
  packages/wallet/core/src/wallet.ts
  packages/wallet/core/test/wallet-fee-options.test.ts
  packages/wallet/dapp-client/src/ChainSessionManager.ts
  packages/wallet/wdk/src/sequence/transactions.ts
Due: prettier

Update to latest pnpm
  package.json
Due: syncpack

3.0.8
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
Due: prettier, syncpack

Fix fee options stub signature
  packages/wallet/core/src/wallet.ts
  packages/wallet/core/test/wallet-fee-options.test.ts
Due: prettier

Fix fee options stub signature (#999)
  packages/wallet/core/src/wallet.ts
  packages/wallet/core/test/wallet-fee-options.test.ts
Due: prettier

3.0.9
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
Due: prettier, syncpack

Enforce minimum age limitation for packages
  pnpm-workspace.yaml
Due: none

Bump next.js deps to resolve security issue
  extras/docs/package.json
  extras/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Add Claude review workflow
  .github/workflows/claude.yml
Due: prettier

Bump next.js deps to resolve security issue (#1000)
  extras/docs/package.json
  extras/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Add Claude review workflow (#1001)
  .github/workflows/claude.yml
Due: prettier

relayer: new metaTxnEnqueued field in /GetMetaTxnReceipt
  packages/relayer/src/rpc-relayer/index.ts
Due: prettier

Update relayer client (#1002)
  packages/relayer/src/rpc-relayer/index.ts
  packages/relayer/src/rpc-relayer/relayer.gen.ts
Due: prettier

Remove inactive networks
  packages/wallet/primitives/src/network.ts
Due: prettier

Add latest relayer.gen.ts
  packages/services/relayer/src/relayer/rpc-relayer/relayer.gen.ts
Due: prettier

Remove inactive networks (#1003)
  packages/wallet/primitives/src/network.ts
Due: prettier

Add latest relayer.gen.ts (#1004)
  packages/services/relayer/src/relayer/rpc-relayer/relayer.gen.ts
Due: prettier

3.0.10
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
Due: prettier, syncpack

feat(relayer): propagate sponsored signal and mark swallowed errors
  .changeset/relayer-sponsored-signal.md
  packages/services/relayer/src/relayer/relayer.ts
  packages/services/relayer/src/relayer/rpc-relayer/index.ts
  packages/services/relayer/src/relayer/standard/eip6963.ts
  packages/services/relayer/src/relayer/standard/local.ts
  packages/services/relayer/src/relayer/standard/pk-relayer.ts
  packages/services/relayer/src/relayer/standard/sequence.ts
  packages/services/relayer/test/relayer/relayer.test.ts
Due: prettier

feat(wallet-wdk): carry sponsored/failed on StandardRelayerOption
  .changeset/wdk-sponsored-signal.md
  packages/wallet/wdk/src/sequence/transactions.ts
  packages/wallet/wdk/src/sequence/types/index.ts
  packages/wallet/wdk/src/sequence/types/transaction-request.ts
  packages/wallet/wdk/test/transactions.test.ts
Due: prettier

feat(dapp-client): add isSponsored for explicit sponsorship checks
  .changeset/dapp-client-is-sponsored.md
  packages/wallet/dapp-client/src/ChainSessionManager.ts
  packages/wallet/dapp-client/src/DappClient.ts
Due: prettier

Parse tuple permission signatures
  packages/wallet/core/src/utils/session/permission-builder.ts
  packages/wallet/core/test/utils/session/permission-builder.test.ts
Due: prettier

Path conditions:
  prettier: any of: **/*.{js,jsx,ts,tsx,json,md,yml,yaml}
  syncpack: any of: package.json, packages/**/package.json
