Repository 0xsequence/sequence.js: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, syncpack

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: '**/*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: pnpm prettier --write {staged_files} && git add {staged_files}
    syncpack:
      glob:
        - "package.json"
        - "packages/**/package.json"
      run: pnpm deps:lint

pre-push:
  commands:
    build:
      run: pnpm build:packages
    test:
      run: pnpm test

[AUTOMATED] Update: api/proto/clients/api.gen.ts
  packages/api/src/api.gen.ts
Due: prettier

[AUTOMATED] Update: api/proto/clients/api.gen.ts (#935)
  packages/api/src/api.gen.ts
Due: prettier

Fix rc4 4337 factory (#933)
  packages/wallet/primitives/src/context.ts
Due: prettier

Add rc5 and set it as default (#934)
  packages/wallet/core/src/state/local/index.ts
  packages/wallet/core/src/state/sequence/index.ts
  packages/wallet/core/test/session-manager.test.ts
  packages/wallet/dapp-client/src/ChainSessionManager.ts
  packages/wallet/primitives-cli/src/subcommands/address.ts
  packages/wallet/primitives/src/constants.ts
  packages/wallet/primitives/src/context.ts
  packages/wallet/primitives/src/extensions/index.ts
  packages/wallet/primitives/test/address.test.ts
  packages/wallet/wdk/src/sequence/manager.ts
  packages/wallet/wdk/test/sessions.test.ts
Due: prettier

3.0.0-beta.4
  .changeset/pre.json
  .changeset/wise-heads-buy.md
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
Due: prettier, syncpack

[AUTOMATED] Update: proto/clients/marketplace.gen.ts
  packages/marketplace/src/marketplace.gen.ts
Due: prettier

Update marketplace client (#932)
  packages/marketplace/src/marketplace.gen.ts
Due: prettier

Add etherlink shadownet to all networks
  packages/network/src/config.ts
Due: prettier

Add etherlink shadownet to all networks (#938)
  packages/network/src/config.ts
Due: prettier

Update guard.gen.ts
  packages/guard/src/guard.gen.ts
Due: prettier

Fix signer test in account
  packages/account/tests/signer.spec.ts
Due: prettier

Update relayer.gen.ts
  packages/relayer/src/rpc-relayer/relayer.gen.ts
Due: prettier

Fix build errors with guard
  packages/guard/src/signer.ts
Due: prettier

tsconfig.test.json: target = es2022
  tsconfig.test.json
Due: none

fixup! tsconfig.test.json: target = es2022
  tsconfig.test.json
Due: none

Upgrade relayer + guard gen.ts files from release (#937)
  packages/account/tests/signer.spec.ts
  packages/guard/src/guard.gen.ts
  packages/guard/src/signer.ts
  packages/relayer/src/rpc-relayer/relayer.gen.ts
  tsconfig.test.json
Due: prettier

[AUTOMATED] Update: proto/clients/marketplace.gen.ts (#939)
  packages/marketplace/src/marketplace.gen.ts
Due: prettier

add userdata service client
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/README.md
  packages/services/userdata/package.json
  packages/services/userdata/src/index.ts
  packages/services/userdata/src/userdata.gen.ts
  packages/services/userdata/tsconfig.json
  pnpm-lock.yaml
Due: prettier, syncpack

add userdata service client (#940)
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/README.md
  packages/services/userdata/package.json
  packages/services/userdata/src/index.ts
  packages/services/userdata/src/userdata.gen.ts
  packages/services/userdata/tsconfig.json
  pnpm-lock.yaml
Due: prettier, syncpack

[AUTOMATED] Update: proto/clients/relayer.gen.ts
  packages/relayer/src/rpc-relayer/relayer.gen.ts
Due: prettier

Update relayer client (#941)
  packages/relayer/src/rpc-relayer/relayer.gen.ts
Due: prettier

Skip LocalDevice identity signers not on current device
  packages/wallet/wdk/src/sequence/sessions.ts
Due: prettier

Update log
  packages/wallet/wdk/src/sequence/sessions.ts
Due: prettier

Skip LocalDevice identity signers not on current device (#942)
  packages/wallet/wdk/src/sequence/sessions.ts
Due: prettier

3.0.0-beta.5
  .changeset/goofy-laws-serve.md
  .changeset/pre.json
  packages/services/api/CHANGELOG.md
  packages/services/api/package.json
  packages/services/builder/CHANGELOG.md
  packages/services/builder/package.json
  packages/services/guard/CHANGELOG.md
  packages/services/guard/package.json
  packages/services/identity-instrument/CHANGELOG.md
  packages/services/identity-instrument/package.json
  packages/services/indexer/CHANGELOG.md
  packages/services/indexer/package.json
  packages/services/marketplace/CHANGELOG.md
  packages/services/marketplace/package.json
  packages/services/metadata/CHANGELOG.md
  packages/services/metadata/package.json
  packages/services/relayer/CHANGELOG.md
  packages/services/relayer/package.json
  packages/services/userdata/CHANGELOG.md
  packages/services/userdata/package.json
  packages/utils/abi/CHANGELOG.md
  packages/utils/abi/package.json
  packages/wallet/core/CHANGELOG.md
  packages/wallet/core/package.json
  packages/wallet/dapp-client/CHANGELOG.md
  packages/wallet/dapp-client/package.json
  packages/wallet/primitives/CHANGELOG.md
  packages/wallet/primitives/package.json
  packages/wallet/wdk/CHANGELOG.md
  packages/wallet/wdk/package.json
  repo/eslint-config/CHANGELOG.md
  repo/eslint-config/package.json
  repo/typescript-config/CHANGELOG.md
  repo/typescript-config/package.json
  repo/ui/CHANGELOG.md
  repo/ui/package.json
Due: prettier, syncpack

[AUTOMATED] Update: proto/clients/relayer.gen.ts (#943)
  packages/relayer/src/rpc-relayer/relayer.gen.ts
Due: prettier

Increase recovery test wallet balance to prevent hardhat issue
  packages/wallet/wdk/test/recovery.test.ts
Due: prettier

Add explicit from wallet address to recovery transaction calls
  packages/wallet/wdk/test/recovery.test.ts
Due: prettier

Add Incentiv Mainnet config
  packages/network/src/config.ts
Due: prettier
